* {
    margin: 0;
    padding: 0;
  }
  
  .form_calculator {
    width: 500px;
    height: 500px;
    text-align: center;
  }
  
  .windowInput {
    font-size: 35px;
  }
  
  .buttons {
    width: 100%;
    height: 100%;
    font-size: 55px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttons a {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #717171;
    color: white;
  }


.buttons a:active {
  background-color: #383838;
}