*,
body {
  margin: 0;
  padding: 0;
}

.main_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form_calculator {
  position: absolute;
  top: 40%;
  left: 40%;
}

.field_result {
  width: 100%;
  height: 100%;
}

.field_for_input {
  width: 320px;
  font-size: 1.5em;
}

.all_buttons {
  width: 320px;
}

.rows {
  display: flex;
  justify-content: space-around;
}